html, body {
  max-width: 100%;
  /*overflow-x: hidden;*/
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: rgb(215, 250, 218);
}
/* hr {
  border: dotted #21df21 6px;
  border-bottom: none;
  width: 4%;
  margin: 10px auto;
} */

.firstblock {
  background-color: rgba(0, 0, 0, 0.808);
  padding-left: 136px;
}

#musifylogo {
  padding: 70px;
  height: 150px;
  margin-top: 0px;
  margin-left: 55px;
  margin-bottom: 0px;
  margin-right: 55px;
  padding-top: 19px;
  padding-bottom: 28px;
}

#h1musify {
  color: rgb(255, 255, 255);
  /* padding-left: 200px; */
  font-size: 100px;
  margin-right: 250px;
  margin-left: 20px;
  font-family: "Dancing Script", cursive;
}

.btn {
  -webkit-border-radius: 51px;
  -moz-border-radius: 51px;
  border-radius: 51px;
  height: 0;
  line-height: 0;
  color: #000000;
  font-family: Verdana;
  width: 173px;
  font-size: 20px;
  font-weight: 500;
  padding: 18px;
  background-color: #3df64f;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  border: solid #337fed 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid rgba(81, 237, 51, 0.91) 0;
  background: rgba(81, 237, 51, 0.91);
  background-image: -webkit-linear-gradient(
    top,
    rgba(81, 237, 51, 0.91),
    rgba(81, 237, 51, 0.91)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(81, 237, 51, 0.91),
    rgba(81, 237, 51, 0.91)
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(81, 237, 51, 0.91),
    rgba(81, 237, 51, 0.91)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(81, 237, 51, 0.91),
    rgba(81, 237, 51, 0.91)
  );
  background-image: -webkit-gradient(
    to bottom,
    rgba(81, 237, 51, 0.91),
    rgba(81, 237, 51, 0.91)
  );
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
#getstarted {
  text-decoration: none;
}

.tagline {
  background-image: url("../Images/tagline1.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 150px;
  padding-left: 0px;
  padding-right: 0px;
}
#taglinetext {
  font-family: "Dancing Script", cursive;
  text-align: center;
  padding-bottom: 100px;
  padding-left: 100px;
  color: #28ce19ee;
}

.tagline2 {
  background-image: url("../Images/tagline2.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 400px;
  text-align: center;
  font-size: 60px;
  font-family: "Dancing Script", cursive;
}
#taglinetext2 {
  padding-left: 883px;
  padding-top: 60px;
  margin-top: 0;
}
#taglinetext2_1 {
  padding-left: 883px;
  padding-top: 73px;
}

.aboutus {
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px 10px 1px 10px;
}
